.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menus button{
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover{
    background-color: rgb(243, 243, 243);
}

.news-img{
    display: flex;
    justify-content: center;
}

.news-img-size{
    max-width: 100%;
    max-height: 250px;
}

.news{
    border-bottom: 2px solid black;
}

.top-menu{
    display: flex;
    margin: 1em 0;
    margin-left: 1em;
}

.menu-bar{
    display: none;
}

#input-area{
    margin-left: 0.5em;
    display: none;
}

@media (max-width: 500px){
    .menu-bar{
        display: block;
    }

    .menus{
        display: none;
    }
}

.bar-menu{
    background-color: rgb(251, 198, 130);
    position: absolute;
}

.menu-vt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-vt div{
    margin-bottom: 1em;
}

.x-button{
    background: none;
    border: none;
    position: absolute;
    right: 25px;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }
  